*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.mb-3{
    position: relative;
    margin-bottom: 40px;
    margin: 40px auto;
    max-width: 300px; 
    /* max-height: 400px;  */
    box-shadow: 0 0 10px rgb(0, 0, 1);
    padding: 15px;
    /* width: fit-content;
    margin: 400px; */
} 

.mb-3:hover{
    max-width: 400px; 
    /* max-height: 500px; */
    transition: 3s;

}
input, button {
    margin-top: 4px;
}

h2{
    position: relative;
    top: 5px;
}

.col-auto{
    position: relative;
    top: 15px;
}

#result {
    margin-top: 10px;
    font-weight: bold;
    padding-bottom: 10px;
}

.mb-3 .btn-primary {
    margin: 10px auto;
    width: 200px;
    height: 40px;
}